<%- include('../partials/header') %>
    <h1>カテゴリー管理</h1>
    <form action="/categories" method="post">
        <input type="text" name="categoryName">
        <input type="submit" value="作成">
    </form>
    <a href="/todos">タスク一覧に戻る</a>
    <ul>
        <% categories.map((category) => { %>
        <li><%= category.id %> <%= category.name %></li>
        <a href="/categories/<%= category.id %>/edit">編集</a>
        <form action="/categories/<%= category.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="削除">
        </form>
        <% }) %>
    </ul>
<%- include('../partials/footer') %>